<a href="https://colab.research.google.com/github/Anaya666/project-1-DS1002-/blob/main/Assignments/06_Pandas_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Pandas exercises 1

1. Import dependencies

In [53]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

---

In [54]:
list = [98, 24, 46, 87, 33]

2. Convert `list` to a pandas series using `pd.Series`

In [55]:
series= pd.Series(list)
print(series)

0    98
1    24
2    46
3    87
4    33
dtype: int64

3. Take the above series and add an index that starts at 2 and steps by 3

In [56]:
series= pd.Series(list, index=range(2,len(list) *3+2, 3))
print(series)

2     98
5     24
8     46
11    87
14    33
dtype: int64

4. Create a dictionary of 4 names, ages, and careers   
Convert this dictionary to a pandas dataframe: `df`.  
Print the dataframe.

In [57]:
my_dict = {
    "names": ["anaya", "ayaan", "amisha", "pronit"],
    "ages": ["17", "19", "20", "22"],
    "careers": ["data science", "finance", "marketing", "architecture"]
}

print(my_dict)
df = pd.DataFrame(my_dict)

# Print the DataFrame
print(df)

{'names': ['anaya', 'ayaan', 'amisha', 'pronit'], 'ages': ['17', '19', '20', '22'], 'careers': ['data science', 'finance', 'marketing', 'architecture']}
    names ages       careers
0   anaya   17  data science
1   ayaan   19       finance
2  amisha   20     marketing
3  pronit   22  architecture

5. Name the index of `df` 'participant_id'.  
Print `df`.

In [58]:
df.index.name = 'participant_id'
print(df)

                 names ages       careers
participant_id
0                anaya   17  data science
1                ayaan   19       finance
2               amisha   20     marketing
3               pronit   22  architecture

6. Use a pandas function to determine the data types of the columns of `df`.

In [59]:
print(df.dtypes)

names      object
ages       object
careers    object
dtype: object

7. Using bracket notation, reference column `name`

In [60]:
#using integer based indexing, I will print the data types of the columns
print(df.iloc[1].dtypes)

object

8. Using dot notation, reference column `name`

In [61]:
print(df.names.dtype)

object

8. Reference column `name` and have it returned in a dataframe.

In [62]:
column_name = 'names'
column_df = df[[column_name]]
print(column_df)

                 names
participant_id
0                anaya
1                ayaan
2               amisha
3               pronit

9. Show the 3rd element in column `career`.

In [63]:
third_element_career = df['careers'].iloc[2]
print(third_element_career)

marketing

10.  Load the `iris` dataset that we used in class.  Use `iris` as the name of your data frame.

In [64]:
iris = sns.load_dataset('iris')
df=iris
print(df)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

11.  What is the correlation between the variables `sepal_length` and `sepal_width` for all the irises?

In [65]:
iris[['sepal_length','sepal_width']].corr()

              sepal_length  sepal_width
sepal_length       1.00000     -0.11757
sepal_width       -0.11757      1.00000

12.  Which of the three species has the highest correlation between `sepal_length` and `sepal_width`?  Show any calculations you use to support your answer.

In [66]:
#to find the species with the highest correlation, first I will calculate the correlation between
#the two parameters sepal_length and sepal_width for each species
correlation_by_species = df.groupby('species').apply(lambda x: x['sepal_length'].corr(x['sepal_width']))
#lambda is used in conjunction with apply to calculate the correlation for each species; x is each parameter
species_with_highest_correlation = correlation_by_species.idxmax()
print("Species with the highest correlation:", species_with_highest_correlation)

Species with the highest correlation: setosa

13.  Among the four variables, the two that are most negatively correlated (overall) are `sepal_width` and `petal_length`.  (How do we know this?)  Determine the same thing but for each species separately:  for each species, which two variables have the most negative (or the least positive) correlation?  Again, include calculations to support your answer.

In [67]:
'''
#finding a correlation matrix
correlation_matrix=df.corr()
#proving sepal_width and petak_length are the most negatively correlated pair
most_negatively_correlated= correlation_matrix.unstack().sort_values().head(1)
print("Most negatively correlated pair:", most_negatively_correlated)
#determining most negatively correlated variables within each species
#defining variables of interest
variables=['petal_length','sepal_length','petal_width', 'sepal_width']
#grouping by each species and calculating correlation for each pair of variables
# Defining variables of interest
variables = ['petal_length', 'sepal_length', 'petal_width', 'sepal_width']

# Determining the most negatively correlated variables within each species
#first, I will do this for species virginica
# Filter the DataFrame for species 'virginica'
virginica_data = df[df['species'] == 'virginica']

# Calculate the correlation matrix for 'virginica' species
correlation_matrix_virginica = virginica_data.corr()
# Extract the lower triangle of the correlation matrix
lower_triangle_virginica = correlation_matrix_virginica.mask(np.triu(np.ones(correlation_matrix_virginica.shape), k=1).astype(bool))


# Find the pair with the lowest correlation coefficient
most_negatively_correlated_variables = lower_triangle_virginica.stack().idxmin()

print("Two variables with the most negative correlation within species 'virginica':", most_negatively_correlated_variables)

#next, I will do this for species setosa
# Filter the DataFrame for species 'setosa'
setosa_data = df[df['species'] == 'setosa']

# Calculate the correlation matrix for 'setosa' species
correlation_matrix_setosa = setosa_data.corr()

# Extract the lower triangle of the correlation matrix
lower_triangle_setosa = correlation_matrix_setosa.mask(np.triu(np.ones(correlation_matrix_setosa.shape), k=1).astype(bool))

# Find the pair with the lowest correlation coefficient
most_negatively_correlated_variables = lower_triangle_setosa.stack().idxmin()

print("Two variables with the most negative correlation within species 'setosa':", most_negatively_correlated_variables)
'''

'\n#finding a correlation matrix\ncorrelation_matrix=df.corr()\n#proving sepal_width and petak_length are the most negatively correlated pair\nmost_negatively_correlated= correlation_matrix.unstack().sort_values().head(1)\nprint("Most negatively correlated pair:", most_negatively_correlated)\n#determining most negatively correlated variables within each species\n#defining variables of interest\nvariables=[\'petal_length\',\'sepal_length\',\'petal_width\', \'sepal_width\']\n#grouping by each species and calculating correlation for each pair of variables\n# Defining variables of interest\nvariables = [\'petal_length\', \'sepal_length\', \'petal_width\', \'sepal_width\']\n\n# Determining the most negatively correlated variables within each species\n#first, I will do this for species virginica\n# Filter the DataFrame for species \'virginica\'\nvirginica_data = df[df[\'species\'] == \'virginica\']\n\n# Calculate the correlation matrix for \'virginica\' species\ncorrelation_matrix_virginica = virginica_data.corr()\n# Extract the lower triangle of the correlation matrix\nlower_triangle_virginica = correlation_matrix_virginica.mask(np.triu(np.ones(correlation_matrix_virginica.shape), k=1).astype(bool))\n\n\n# Find the pair with the lowest correlation coefficient\nmost_negatively_correlated_variables = lower_triangle_virginica.stack().idxmin()\n\nprint("Two variables with the most negative correlation within species \'virginica\':", most_negatively_correlated_variables)\n\n#next, I will do this for species setosa\n# Filter the DataFrame for species \'setosa\'\nsetosa_data = df[df[\'species\'] == \'setosa\']\n\n# Calculate the correlation matrix for \'setosa\' species\ncorrelation_matrix_setosa = setosa_data.corr()\n\n# Extract the lower triangle of the correlation matrix\nlower_triangle_setosa = correlation_matrix_setosa.mask(np.triu(np.ones(correlation_matrix_setosa.shape), k=1).astype(bool))\n\n# Find the pair with the lowest correlation coefficient\nmost_negatively_correlated_variables = lower_triangle_setosa.stack().idxmin()\n\nprint("Two variables with the most negative correlation within species \'setosa\':", most_negatively_correlated_variables)\n'

14.  Once again, the variables `sepal_width` and `petal_length` are negatively correlated.  But for each individual species, these two variables are positively correlated.  How is this possible?  Explain this phenomenon.  Use a data visualization if it helps.

In [68]:
'''
#unfortunately, the results in q13 don't match the assumption in q14 as for the setosa species, petal length and sepal width are negatively correlated
#however, for the virginica species, they seem to be positively correlated
#a possible reason for this could be the presence of an unaccounted confounding variable that can alter the results by affecting the factors being studied
#for instance, from my biology learnings I derive that exposure to sunlight could be a possible confounding variable as flowers need sunlight to photosynthesize
#which facilitates their growth and development and can hence, influence both sepal width and petal length.
#In this situatuation, if species with a preference for full sunlight tend to have wider sepals and longer petals, and species preferring shade tend to have narrower sepals and shorter petals
#it could lead to a positive correlation between sepal width and petal length within each species.
#However, when considering all species together, the cumulative correlation between these variables may appear negative due to the
#differences in sunlight preferences among species.

#visualising this data set to consider sunlight exposure as a confounding variable
# Generate synthetic data for 3 species A, B, and C  at different sunlight exposure levels
# Generate synthetic data for sepal width and petal length for each species and sunlight exposure level
np.random.seed(0)  # For reproducibility

n_samples = 100

# Generate data for each species at different sunlight exposure levels
data = pd.DataFrame({
    'Species': np.repeat(['Species A', 'Species B', 'Species C'], 3 * n_samples),
    'Sepal Width': np.tile(np.concatenate([
        np.random.normal(loc=3, scale=0.5, size=n_samples),  # High sunlight exposure
        np.random.normal(loc=3.5, scale=0.5, size=n_samples),  # Medium sunlight exposure
        np.random.normal(loc=2.5, scale=0.5, size=n_samples),  # Low sunlight exposure
    ]), 3),
    'Petal Length': np.tile(np.concatenate([
        np.random.normal(loc=5, scale=1, size=n_samples),  # High sunlight exposure
        np.random.normal(loc=5.5, scale=1, size=n_samples),  # Medium sunlight exposure
        np.random.normal(loc=4.5, scale=1, size=n_samples),  # Low sunlight exposure
    ]), 3),
    'Sunlight Exposure': np.repeat(['High', 'Medium', 'Low'], 3 * n_samples)
})

# Plot the relationship between sepal width and petal length for each species at different sunlight exposure levels
sns.relplot(data=data, x='Sepal Width', y='Petal Length', hue='Sunlight Exposure', col='Species', kind='scatter')
plt.suptitle('Relationship between Sepal Width and Petal Length for Different Sunlight Exposure Levels')
plt.show()
'''

"\n#unfortunately, the results in q13 don't match the assumption in q14 as for the setosa species, petal length and sepal width are negatively correlated\n#however, for the virginica species, they seem to be positively correlated\n#a possible reason for this could be the presence of an unaccounted confounding variable that can alter the results by affecting the factors being studied\n#for instance, from my biology learnings I derive that exposure to sunlight could be a possible confounding variable as flowers need sunlight to photosynthesize\n#which facilitates their growth and development and can hence, influence both sepal width and petal length.\n#In this situatuation, if species with a preference for full sunlight tend to have wider sepals and longer petals, and species preferring shade tend to have narrower sepals and shorter petals\n#it could lead to a positive correlation between sepal width and petal length within each species.\n#However, when considering all species together, the cumulative correlation between these variables may appear negative due to the\n#differences in sunlight preferences among species.\n\n#visualising this data set to consider sunlight exposure as a confounding variable\n# Generate synthetic data for 3 species A, B, and C  at different sunlight exposure levels\n# Generate synthetic data for sepal width and petal length for each species and sunlight exposure level\nnp.random.seed(0)  # For reproducibility\n\nn_samples = 100\n\n# Generate data for each species at different sunlight exposure levels\ndata = pd.DataFrame({\n    'Species': np.repeat(['Species A', 'Species B', 'Species C'], 3 * n_samples),\n    'Sepal Width': np.tile(np.concatenate([\n        np.random.normal(loc=3, scale=0.5, size=n_samples),  # High sunlight exposure\n        np.random.normal(loc=3.5, scale=0.5, size=n_samples),  # Medium sunlight exposure\n        np.random.normal(loc=2.5, scale=0.5, size=n_samples),  # Low sunlight exposure\n    ]), 3),\n    'Petal Length': np.tile(np.concatenate([\n        np.random.normal(loc=5, scale=1, size=n_samples),  # High sunlight exposure\n        np.random.normal(loc=5.5, scale=1, size=n_samples),  # Medium sunlight exposure\n        np.random.normal(loc=4.5, scale=1, size=n_samples),  # Low sunlight exposure\n    ]), 3),\n    'Sunlight Exposure': np.repeat(['High', 'Medium', 'Low'], 3 * n_samples)\n})\n\n# Plot the relationship between sepal width and petal length for each species at different sunlight exposure levels\nsns.relplot(data=data, x='Sepal Width', y='Petal Length', hue='Sunlight Exposure', col='Species', kind='scatter')\nplt.suptitle('Relationship between Sepal Width and Petal Length for Different Sunlight Exposure Levels')\nplt.show()\n"

Among the four variables, the two that are most negatively correlated (overall) are sepal_width and petal_length. (How do we know this?) Determine the same thing but for each species separately: for each species, which two variables have the most negative (or the least positive) correlation? Again, include calculations to support your answer.

In [73]:

import pandas as pd
import numpy as np
import seaborn as sns
iris = sns.load_dataset('iris')
df=iris
#print(df)
correlation_matrix=df.corr(numeric_only=True)
#sepal width and petal length are the most negatively correlated pair overall
most_negatively_correlated_overall=correlation_matrix.unstack().sort_values().head(1)
print(most_negatively_correlated_overall)

#create a list of variables
variables=['sepal_length','sepal_width','petal_length','petal_width']
def most_negative_correlation_species(species_data):
  #print(species_data)
  correlation_matrix_species=species_data[variables].corr()
  lower_triangle_species=correlation_matrix_species.where(np.tril(np.ones(correlation_matrix_species.shape),k=-1).astype(bool))
  print(lower_triangle_species)
  #np.tril is a function from numpy library that will extract the lower triangular part of the matrix
  #k=-1 it excludes the diagonal and k=0 excludes the diagonal
  #most_negative_correlation=lower_triangle_species.stack().idxmin()
  #return most_negative_correlation
species_list = df['species'].unique() #multiple records of one species but we take only the unique species name
for species in species_list:
  species_data=df[df['species']=='species'] #ur fetching one species at a time
  print(species_data)
  #result=most_negative_correlation_species(species_data)
  #print(result)

sepal_width  petal_length   -0.42844
dtype: float64
Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, species]
Index: []
Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, species]
Index: []
Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, species]
Index: []

Once again, the variables sepal_width and petal_length are negatively correlated. But for each individual species, these two variables are positively correlated. How is this possible? Explain this phenomenon. Use a data visualization if it helps.