<a href="https://colab.research.google.com/github/Anaya666/project-1-DS1002-/blob/main/Assignments/07_More_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# More pandas exercises

Create a Colab notebook. Complete the tasks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for review.

1.  Load the following dataset into Colab and perform the requested operations in code.

 Source: https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv

In [6]:
# Load pandas and the data
import pandas as pd
url="https://ds1002-resources.s3.amazonaws.com/data/ride_sharing.csv"
ride_sharing_df=pd.read_csv(url)
print(ride_sharing_df.head()) #printing the first few rows of the data set

     duration  station_A_id  \
0  12 minutes            81
1  24 minutes             3
2   8 minutes            67
3   4 minutes            16
4  11 minutes            22

                                      station_A_name  station_B_id  \
0                                 Berry St at 4th St           323
1       Powell St BART Station (Market St at 4th St)           118
2  San Francisco Caltrain Station 2  (Townsend St...            23
3                            Steuart St at Market St            28
4                              Howard St at Beale St           350

                    station_B_name  bike_id  user_type  user_birth_year  \
0               Broadway at Kearny     5480          2             1959
1  Eureka Valley Recreation Center     5193          2             1965
2    The Embarcadero at Steuart St     3652          3             1993
3     The Embarcadero at Bryant St     1883          1             1979
4             8th St at Brannan St     4626          2             1994

  user_gender  tire_size
0        Male         26
1        Male         27
2        Male         29
3        Male         26
4        Male         27

In [7]:
# show how many rows and columns are in this dataset
number of rows in the data set:
print("Number of rows:",ride_sharing_df.shape[0])
#number of columns in the data set:
print("Number of columns:", ride_sharing_df.shape[1])

Number of rows: 25760
Number of columns: 10

In [8]:
# The first column, "duration" is seen as a string.
# Using two snippets of code, clean this column up so that
# is now an integer (int64)
#  converting duration to integers
ride_sharing_df['duration'] = ride_sharing_df['duration'].str.replace(r'\D', '', regex=True).astype(int)
#my research revealed that \D is a regualar expression pattern that represents any charecter that is not a digit

# Displaying the new 'duration' data type
print("Data type of 'duration' column after cleaning:", ride_sharing_df['duration'].dtype)

Data type of 'duration' column after cleaning: int64

In [6]:
# Now display the datatypes in the updated dataframe
# Display the data types in the updated DataFrame
print("Data types in the updated DataFrame:", ride_sharing_df.dtypes)

Data types in the updated DataFrame: duration            int64
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [9]:
# Show the min and max values of ride durations (the shortest and longest rides)
# Hint: If 'df' is the name of your dataframe, simply specify the column name
# and then append the .min() or .max() methods.
min_duration= ride_sharing_df['duration'].min()
max_duration= ride_sharing_df['duration'].max()
print("the minimum ride duration is:", min_duration, "minute")
print("the maximum ride duration is:", max_duration, "minutes")

the minimum ride duration is: 1 minute
the maximum ride duration is: 1372 minutes

In [27]:
# Creating a new DataFrame with rides that are 60 minutes or less
short_rides_df = ride_sharing_df.query('duration <= 60')

# Displaying the first few rows of this new DataFrame
print("New DataFrame with rides that are 60 minutes or less:")
print(short_rides_df.head())

New DataFrame with rides that are 60 minutes or less:
   duration  station_A_id                                     station_A_name  \
0        12            81                                 Berry St at 4th St
1        24             3       Powell St BART Station (Market St at 4th St)
2         8            67  San Francisco Caltrain Station 2  (Townsend St...
3         4            16                            Steuart St at Market St
4        11            22                              Howard St at Beale St

   station_B_id                   station_B_name  bike_id  user_type  \
0           323               Broadway at Kearny     5480          2
1           118  Eureka Valley Recreation Center     5193          2
2            23    The Embarcadero at Steuart St     3652          3
3            28     The Embarcadero at Bryant St     1883          1
4           350             8th St at Brannan St     4626          2

   user_birth_year user_gender  tire_size
0             1959        Male         26
1             1965        Male         27
2             1993        Male         29
3             1979        Male         26
4             1994        Male         27

In [26]:
# Now show both the min and max values of the duration column for your new dataset.
min_duration= short_rides_df['duration'].min()
max_duration= short_rides_df['duration'].max()
print("the minimum ride duration is:", min_duration, "minute")
print("the maximum ride duration is:", max_duration, "minutes")

the minimum ride duration is: 1 minute
the maximum ride duration is: 60 minutes

In [21]:
# Using the new dataframe, update it so that is ONLY has records where tire size is 26
tire_size_df = short_rides_df.query('tire_size == 26')

# Display the first few rows of the updated DataFrame
print("Updated DataFrame with records where tire size is 26:")
print(tire_size_df.head())

Updated DataFrame with records where tire size is 26:
    duration  station_A_id                                     station_A_name  \
0         12            81                                 Berry St at 4th St
3          4            16                            Steuart St at Market St
6         16            67  San Francisco Caltrain Station 2  (Townsend St...
9          5            30     San Francisco Caltrain (Townsend St at 4th St)
12         7             3       Powell St BART Station (Market St at 4th St)

    station_B_id                station_B_name  bike_id  user_type  \
0            323            Broadway at Kearny     5480          2
3             28  The Embarcadero at Bryant St     1883          1
6            107         17th St at Dolores St     1035          2
9             62   Victoria Manalo Draves Park      333          1
12            27       Beale St at Harrison St     1863          3

    user_birth_year user_gender  tire_size
0              1959        Male         26
3              1979        Male         26
6              1981        Male         26
9              1994        Male         26
12             1998        Male         26

In [25]:
# Finally, produce a count of all records with FEMALE riders
#using the 26-inch wheeled rental bikes for their rentals of one hour or less.

# Count of all records with FEMALE riders tire size of 26 inches for one-hour or less rentals
female_short_rides_tire_size_count = tire_size_df.query('user_gender == "FEMALE"').shape[0]

# Display the count
print("Count of records with FEMALE riders using 26-inch bikes for one-hour or less rentals:", female_short_rides_tire_size_count)

Count of records with FEMALE riders using 26-inch bikes for one-hour or less rentals: 0

Min duration: 1
Max duration: 60

First few rows of the updated DataFrame:
    duration  station_A_id                                     station_A_name  \
0         12            81                                 Berry St at 4th St
3          4            16                            Steuart St at Market St
6         16            67  San Francisco Caltrain Station 2  (Townsend St...
9          5            30     San Francisco Caltrain (Townsend St at 4th St)
12         7             3       Powell St BART Station (Market St at 4th St)

    station_B_id                station_B_name  bike_id  user_type  \
0            323            Broadway at Kearny     5480          2
3             28  The Embarcadero at Bryant St     1883          1
6            107         17th St at Dolores St     1035          2
9             62   Victoria Manalo Draves Park      333          1
12            27       Beale St at Harrison St     1863          3

    user_birth_year user_gender  tire_size
0              1959        Male         26
3              1979        Male         26
6              1981        Male         26
9              1994        Male         26
12             1998        Male         26

Count of all records with FEMALE riders using the 26-inch wheeled rental bikes for their rentals of one hour or less: 0

2. Find the file `more-messy-data.csv` on Canvas and upload it into Google Colab.

Create a new Pandas DataFrame from that data and perform the following steps.

In [29]:
# Write a snippet of code that will display the number of duplicate rows exist in the DF.
messy=pd.read_csv('/content/very-messy-data.csv')
num_of_duplicates=messy.duplicated().sum()
print("Number of duplicate rows:", num_of_duplicates)

Number of duplicate rows: 316

In [30]:
# Next, remove all duplicate rows using Python.
messy_new = messy.drop_duplicates()

# Display the shape of the DataFrame after removing duplicates
print("Shape/ dimensions of the  DataFrame after removing duplicates:", messy_new.shape)

Shape of DataFrame after removing duplicates: (1000, 6)

In [32]:
# For the FOUR columns involving sepal and petal length and width, update all NaN
# values with the column mean.
# working on the  data frame 'messy_new'
columns_to_update = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']

# Calculate the column means
column_means = messy_new[columns_to_update].mean()

# Update NaN values with column means
messy_new[columns_to_update] = messy_new[columns_to_update].fillna(column_means)

# Display the DataFrame after updating NaN values
print(messy_new.head())

   id  sepal_length  sepal_width  petal_length  petal_width    species
0   1           3.5     2.900000           1.4          0.5  virginica
1   2           3.6     3.200000           3.0          0.5     setosa
2   3           3.8     2.987694           2.2          1.5     setosa
3   4           5.8     2.700000           2.6          1.2  virginica
4   5           4.9     3.600000           3.0          1.2  virginica

<ipython-input-32-9277e55fd9bc>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  messy_new[columns_to_update] = messy_new[columns_to_update].fillna(column_means)

In [34]:
# Find any values in the dataframe that are still missing, and delete them.
# Find missing values in the DataFrame
# Find missing values in the DataFrame
missing_values = messy_new.isnull().sum()

# Delete rows with missing values
messy_new = messy_new.dropna()

# Display the DataFrame after deleting rows with missing values
print(messy_new.head())

   id  sepal_length  sepal_width  petal_length  petal_width    species
0   1           3.5     2.900000           1.4          0.5  virginica
1   2           3.6     3.200000           3.0          0.5     setosa
2   3           3.8     2.987694           2.2          1.5     setosa
3   4           5.8     2.700000           2.6          1.2  virginica
4   5           4.9     3.600000           3.0          1.2  virginica

In [35]:
# How many different species are there?
# Count the number of unique species
num_species = messy_new['species'].nunique()
#.nunique calculates  number of unique values in the "species" column.

# Display the number of different species
print("Number of different species:", num_species)

Number of different species: 2

In [ ]:
# Clean up the 'species' variable so that there are exactly three different values.
#the given data only has 2 different species names so cannot clean it further

3. Bonus:  Regular expressions

Ordinary (non-vanity) Virginia license plates have the form `ABC1234`, meaning they have three upper case letters followed by four digits.  Write a regular expression that matches any string of this form (and doesn't match anything else).  Test your expression with code to make sure it works.

To figure out out how to do this, start with the sample code below.  The `re` package has various functions related to regular expressions, including for example `match()`, which takes two arguments, first the regular expression and second the test string, and tests to see whether the *beginning* of the `test` string matches the pattern `exp`.

Note that `re.match(exp,test)` does not return a boolean variable, as you might expect (in other words, a match doesn't return `True` and a non-match `False`).  The type of object you get is called `re.Match`, which is a data type special to the `re` package.  (The reason for this is that the object contains more information than just whether there is a match or not.) However, you can turn it into a boolean using `bool()` if you want.

Include the following in the notebook you submit:

 1. A regular expression in a text chunk
 2. One or more code chunks in which you test several strings to verify that your regex is correct.
 3. Make sure you display the results of testing various strings.

 See this [documentation page](https://docs.python.org/3/howto/regex.html#regex-howto) for further help.

In [36]:
# Sample code for testing whether a string matches a regex

# First import this package for working with regular expressions
import re

# Here is an example.
# Play around with different expressions and test strings to see what happens.
#exp = 'ab+'
#test = 'aabbbc'

#if re.match(exp,test):
  #print("match!")
#else:
  #print("no match")

# uncomment this line if you want
# print(type(re.match(exp,test)))

# uncomment this line if you want
# print(bool(re.match(exp,test)))


# Defining a conventional expression
pattern = r'^[A-Z]{3}\d{4}$'

# Test strings
test_strings = [
    "ABC1234",  # Should match
    "DEF5678",  # Should match
    "XYZ9999",  # Should match
    "AB12345",  # Should not match (as there is a wrong number of digits)
    "ABC123",   # Should not match (too few digits)
    "ABCD1234", # Should not match (too many letters)
    "1234ABCD", # Should not match (letters come after digits)
]

# Test the regular expression with each test string
for test_string in test_strings:
    if re.match(pattern, test_string):
        print(f"String: {test_string}, Match: Yes")
    else:
        print(f"String: {test_string}, Match: No")

String: ABC1234, Match: Yes
String: DEF5678, Match: Yes
String: XYZ9999, Match: Yes
String: AB12345, Match: No
String: ABC123, Match: No
String: ABCD1234, Match: No
String: 1234ABCD, Match: No